/* Primary */
.bg-primary {
  background-color: #2C7FCB !important;
}

.text-primary {
  color: #70B6F5 !important;
}

svg.waves.primary path {
  fill: #2C7FCB !important;
}

svg.waves.primary path:nth-child(2n+1) {
  fill: #70B6F5 !important;
}

/* Secondary */
.bg-secondary {
  background-color: #DF8430 !important;
}

.text-secondary {
  color: #F6B87E !important;
}

svg.waves.secondary path {
  fill: #DF8430 !important;
}

svg.waves.secondary path:nth-child(2n+1) {
  fill: #F6B87E !important;
}

.bg-purple {
  background-color: #9B51E0 !important;
}

.text-purple {
  color: #D485F1 !important;
}

svg.waves.purple path {
  fill: #9B51E0 !important;
}

svg.waves.purple path:nth-child(2n+1) {
  fill: #D485F1 !important;
}

.bg-magenta {
  background-color: #D0417E !important;
}

.text-magenta {
  color: #ED76A9 !important;
}

svg.waves.magenta path {
  fill: #D0417E !important;
}

svg.waves.magenta path:nth-child(2n+1) {
  fill: #ED76A9 !important;
}

.bg-green {
  background-color: #219653 !important;
}

.text-green {
  color: #6FCF97 !important;
}

svg.waves.green path {
  fill: #219653 !important;
}

svg.waves.green path:nth-child(2n+1) {
  fill: #6FCF97 !important;
}

.form-check .checkbox {
  display: flex;
  opacity: 0.7;
  font-weight: 600;
  --background: #fff;
  --border: #d1d6ee;
  --border-hover: #bbc1e1;
  --border-active: #007CBA;
  --tick: #fff;
  position: relative;
  align-self: center;
}
.form-check .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: var(--background);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
  width: 21px;
  height: 21px;
  display: block;
  margin-right: 10px;
}
.form-check .checkbox input:hover {
  --s: 2px;
  --b: var(--border-hover);
}
.form-check .checkbox input:checked {
  --b: var(--border-active);
}
.form-check .checkbox svg {
  width: 21px;
  height: 21px;
  display: block;
  margin-right: 10px;
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--stroke, var(--border-active));
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  -webkit-transform: scale(var(--scale, 1)) translateZ(0);
  transform: scale(var(--scale, 1)) translateZ(0);
}
.form-check .checkbox.path input:checked {
  --s: 2px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.form-check .checkbox.path input:checked + svg {
  --a: 16.1 86.12;
  --o: 102.22;
}
.form-check .checkbox.path svg {
  stroke-dasharray: var(--a, 86.12);
  stroke-dashoffset: var(--o, 86.12);
  -webkit-transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
  transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}
.form-check .checkbox.bounce {
  --stroke: var(--tick);
}
.form-check .checkbox.bounce input:checked {
  --s: 11px;
}
.form-check .checkbox.bounce input:checked + svg {
  -webkit-animation: bounce 0.4s linear forwards 0.2s;
  animation: bounce 0.4s linear forwards 0.2s;
}
.form-check .checkbox.bounce svg {
  --scale: 0;
}

/*# sourceMappingURL=helpers.css.map */
