@keyframes btn-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* SVG */
/* KEYFRAME */
@keyframes hand-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg) translateY(15px);
  }
  50% {
    transform: rotate(-2deg) translateY(15px);
  }
  75% {
    transform: rotate(1deg) translateY(15px);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes eyebrowns-shake {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes head-shake {
  0% {
    transform: translateX(0px) rotate(0px);
  }
  50% {
    transform: translateX(-15px) rotate(2deg);
  }
  100% {
    transform: translateX(0px) rotate(0px);
  }
}
@keyframes shoulder-shake {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes arm-shake {
  0% {
    transform: rotate(-5deg) translateX(-10px) translateY(5px);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg) translateX(-10px) translateY(5px);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg) translateX(-10px) translateY(5px);
  }
}
@keyframes arm-shake2 {
  0% {
    transform: rotate(-8deg) translateY(30px) translateX(25px);
  }
  25% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(-4deg) translateY(15px) translateX(18px);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-8deg) translateY(30px) translateX(25px);
  }
}
@keyframes armLeft-shake2 {
  0% {
    transform: rotate(8deg) translateY(45px) translateX(-25px);
  }
  25% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(4deg) translateY(15px) translateX(-18px);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(8deg) translateY(45px) translateX(-25px);
  }
}
.welcome {
  width: 100%;
  padding: 50px;
  height: 90vh;
  padding-bottom: 0px;
}
.welcome svg.background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.welcome .texts {
  padding-right: 75px;
  align-self: center;
}
.welcome .texts .titles h4 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: -50px;
}
.welcome .texts .titles h3 {
  color: var(--primary-text-color);
  font-size: 82px;
  font-weight: 600;
  margin-bottom: 70px;
}
.welcome .texts .titles p {
  font-size: 28px;
  font-weight: 300;
}
.welcome .texts .btnLink {
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.welcome .texts .btnLink .arrow {
  margin-left: 15px;
  animation: btn-shake 2s infinite;
}
.welcome svg.teens {
  margin-top: 25px;
}
.welcome svg g.hand {
  animation: hand-shake 5s infinite;
  transform-origin: center;
}
.welcome svg path.hand {
  animation: hand-shake 5s infinite;
  transform-origin: center;
}
.welcome svg g.eyebrowns {
  animation: eyebrowns-shake 1s infinite;
}
.welcome svg g.head {
  animation: head-shake 2s infinite;
  transform-origin: center;
}
.welcome svg path.head {
  animation: head-shake 2s infinite;
  transform-origin: center;
}
.welcome svg path.shoulder {
  animation: shoulder-shake 3s infinite;
}
.welcome svg g.arm {
  animation: arm-shake 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}
.welcome svg path.arm {
  animation: arm-shake 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}
.welcome svg g.arm2 {
  animation: arm-shake2 3s infinite;
  transform-origin: center;
}
.welcome svg g.armLeft2 {
  animation: armLeft-shake2 3s infinite;
  transform-origin: center;
}

@media (max-width: 1199px) {
  .welcome svg.background {
    display: none;
  }
  .welcome .texts {
    padding: 0px 75px;
  }
  .welcome .texts .titles {
    padding-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .welcome .texts .titles h4 {
    font-size: 22px;
    margin-bottom: 0;
  }
  .welcome .texts .btnLink {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 425px) {
  .welcome {
    padding: 15px;
  }
  .welcome .texts {
    padding: 15px;
  }
  .welcome .texts .btnLink {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=welcome.css.map */
