@import "../variables.scss";
.result .profile .relationship {
    .titlePage.disc {
        span {
            border-radius: 0;
            padding: 5px 15px 5px 35px !important;
            font-size: 1em;
            &.line {
                padding: 5px !important;
            }
        }
    }
    .texts {
        padding: 30px 30px 0 30px;
        .subtitle {
            color: $background-secondary;
        }
        p {
            margin-top: 15px;
        }
        ul {
            padding: 0;
            padding-top: 15px;
        }
        .footer .priority {
            span {
                text-transform: uppercase;
                margin-right: 5px;
                padding-right: 5px;
                font-weight: 600;
                border-right: 2px solid #1667ab;
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
}
