@import './variables.scss';

.result .discStyles {
    overflow: hidden;
    // font-weight: 600;
    span{
        color: $background-secondary;
    }
    .texts{
        padding: 50px;
        padding-bottom: 0;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
    }
    .grid{
        ul{
            padding: 20px;
            background-color: #569ce227;
            min-height: 100%;
        }
    }
}