$dColor :rgba($color: #018837, $alpha: .5);
$iColor :rgba($color: #c2000b, $alpha: .5);
$sColor :rgba($color: #130175, $alpha: .5);
$cColor :rgba($color: #ffff01, $alpha: .5);

.result .intensity .tableLayout{
    table{
        font-weight: 600;
        th,td{
            border: 1px solid black;
            padding-top: 1px;
            padding-bottom: 1px;
            &.dPaint{
                background-color: $dColor;
            }
            &.iPaint{
                background-color: $iColor;
            }
            &.sPaint{
                background-color: $sColor;
            }
            &.cPaint{
                background-color: $cColor;
            }
        }
        thead tr {
            th{
                border: 1px solid black;
                font-size: 1.5em;
                &.d{
                    background-color: $dColor;
                }
                &.i{
                    background-color: $iColor;
                }
                &.s{
                    background-color: $sColor;
                }
                &.c{
                    background-color: $cColor;
                }
            }
        }
    }
}