// Todas as fontes são Open Sans
// Título da capa: semibold
// titulos das páginas (azul) - bold
// Laranja - semibold

$background-primary:#2960A2; 
$text-primary:#4C97BE;
$table-primary:#4fa5d3;
$background-secondary:#F7310F;
$text-secondary:rgb(247, 49, 15, 0.2);
