$theme-colors: (
    "primary": #2c7fcb,
    "secondary": #df8430,
    "purple": #9b51e0,
    "magenta": #d0417e,
    "green": #219653,
    "dark": #232323,
);

$theme-texts: (
    "primary": #70b6f5,
    "secondary": #f6b87e,
    "purple": #d485f1,
    "magenta": #ed76a9,
    "green": #6fcf97,
);

$theme-btn: (
    "secondary": #fa993f,
);

$border-radius: 25px;
// TESTE
